{% extends '::base.html.twig' %}

{% block main %}
    <h2>Bezugsquelle ändern</h2>
    <hr>
    {% include ":source:form.html.twig" with { "form": edit_form } %}
    {{ form(delete_form) }}
{% endblock %}
