{% extends '::base.html.twig' %}

{% block main %}
    <h2>Beitrag erstellen</h2>
    <hr>
    {% include ":post:form.html.twig" %}
    <a href="{{ path('season_show', { 'id': entity.season.id }) }}" class="btn btn-primary">Zurück zur Saison</a>
{% endblock %}
